<table class="royal-table" ...attributes>
  {{#if @caption}}
    <caption>
      {{@caption}}
    </caption>
  {{/if}}
  {{yield (component 'royal-table/column' table=this)}}
  <thead>
    <tr>
      {{#each this.sortedColumns as |item|}}
        <RoyalTable::Column
          @place="head"
          @name={{item.name}}
          @prop={{item.prop}}
          @sortable={{item.sortable}}
          @align={{item.align}}
          @order={{item.order}}
          @onClickHead={{@onClickHead}}
          @onSort={{@onSort}}
          @sortingProp={{@sortingProp}}
          @sortingIconComponent={{@sortingIconComponent}}
        />
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each @data as |data|}}
      <tr>
        {{#each this.sortedColumns as |item|}}
          <RoyalTable::Column
            @place="body"
            @data={{data}}
            @name={{item.name}}
            @prop={{item.prop}}
            @sortable={{item.sortable}}
            @align={{item.align}}
            @order={{item.order}}
            @bodyComponent={{item.bodyComponent}}
          />
        {{/each}}
      </tr>
    {{/each}}
  </tbody>
</table>
