{{#if this.isHead}}
  {{#if (has-block "head")}}
    <th>{{yield to="head"}}</th>
  {{else}}
    <th>{{@name}}</th>
  {{/if}}
{{/if}}

{{#if this.isBody}}
  {{#if (has-block)}}
    <td>{{yield}}</td>
  {{else}}
    <td>{{get @data @prop}}</td>
  {{/if}}
{{/if}}

{{!-- {{yield}} --}}
