{{#if this.isHead}}
  {{! template-lint-disable no-invalid-interactive }}
  <th
    role={{if @sortable 'button'}}
    ...attributes
    {{on 'click' this.handleClickHead}}
    {{on 'click' this.handleSort}}
  >
    {{#if (has-block 'head')}}
      {{yield to='head'}}
    {{else}}
      {{@name}}
    {{/if}}
    {{#if @sortable}}
      {{! TODO: add ensure-safe-component }}
      {{#let
        (if
          @sortingIconComponent
          (component @sortingIconComponent)
          (component 'royal-table/column/sorting-icon')
        ) as |SortingIcon|
      }}
        <SortingIcon
          @sortable={{@sortable}}
          @isSorted={{this.isSorted}}
          @isAscSorted={{this.isAscSorted}}
          @isDescSorted={{this.isDescSorted}}
        />
      {{/let}}
    {{/if}}
  </th>
{{else if this.isBody}}
  <td ...attributes>
    {{#if (has-block)}}
      {{yield}}
    {{else}}
      {{get @data @prop}}
    {{/if}}
  </td>
{{/if}}
