<h1 class="text-2xl mb-4">
  Royal Table
</h1>
<RoyalTable
  @data={{this.sortedModel}}
  @sortingProp={{this.sortingProp}}
  @onSort={{this.onSort}} as |Column rowData|
>
  <Column @name="Avatar">
    <img
      width="64"
      height="64"
      src={{rowData.avatarURL}}
      alt={{rowData.hyperlinkId}}
      loading="lazy"
    />
  </Column>
  <Column @name="Name" @prop="name" @sortable={{true}}/>
  <Column @name="Gender" @prop="gender"/>
  <Column @name="Franchise" @prop="franchise"/>
  <Column @name="Rarity" @prop="rarity" @sortable={{true}}/>
  <Column @name="HP" @prop="life.amount" @sortable={{true}}/>
  <Column @name="Mana" @prop="energy.amount" @sortable={{true}}/>
  <Column @name="Release date" @prop="releaseDate" @sortable={{true}}/>
</RoyalTable>
