<h1>Royal Table</h1>

<h2>Simple table</h2>
<RoyalTable @data={{this.data}} as |Column rowData|>
  <Column @name="First name" @prop="firstName" />
  <Column @name="Last name" @prop="lastName" />
  <Column>
    <:head>Age (years)</:head>
    <:default>{{rowData.age}}</:default>
  </Column>
</RoyalTable>

<h2>Sorted table</h2>
<RoyalTable
  @data={{this.sortedData}}
  @sortingProp={{this.sortingProp}}
  @onSort={{this.onSort}}
as |Column|>
  <Column @name="First name" @prop="firstName" @sortable={{true}}/>
  <Column @name="Last name" @prop="lastName"/>
  <Column @name="Age" @prop="age" @sortable={{true}}/>
</RoyalTable>
