<h1 class="text-2xl mb-4">
  Royal Table
</h1>
<RoyalTable
  @data={{this.sortedModel}}
  @sortingProp={{this.sortingProp}}
  @onSort={{this.onSort}} as |Column rowData|
>
  <Column @name="Avatar">
    <img
      width="64"
      height="64"
      src={{rowData.avatarURL}}
      alt={{rowData.hyperlinkId}}
      loading="lazy"
    />
  </Column>
  <Column @name="Name" @prop="name" @sortable={{true}}/>
  <Column @name="Gender" @prop="gender" @sortable={{true}}/>
  <Column @name="Franchise" @prop="franchise" @sortable={{true}}/>
  <Column @name="Rarity" @prop="rarity" @sortable={{true}}/>
  <Column @name="HP" @prop="life.amount" @sortable={{true}} class="text-right"/>
  <Column @name="Energy" @prop="energy.amount" @sortable={{true}} class="text-right"/>
  <Column @name="Descriptors" @prop="stringDescriptors"/>
  <Column @prop="releaseDate" @sortable={{true}} class="text-right">
    <:name><MdIcon @icon="calendar"/>Release date</:name>
  </Column>
</RoyalTable>
