<h1 class="text-2xl mb-4">
  Royal Table
</h1>
<RoyalTable
  @caption="Heroes of the Storm"
  @data={{this.sortedModel}}
  @sortingProp={{this.sortingProp}}
  @onSort={{this.onSort}} as |Column|
>
  {{#each this.sortedColumns as |item|}}
    <Column
      @name={{item.name}}
      @prop={{item.prop}}
      @sortable={{item.sortable}}
      @align={{item.align}}
      @order={{item.order}}
      @bodyComponent={{item.bodyComponent}}
    />
  {{/each}}
</RoyalTable>
